<%- include("partials/header"); -%>

<main class="main-grid-container">
    
    <div class="main-flex-container">
        <h2><%=title%></h2>
        <p><%=content%></p>
        <p><%=paragraph1%></p>
        <p><%=paragraph2%></p>
        <p><%=paragraph3%></p>
        <p><%=paragraph4%></p>
        <p><%=conclusion%></p>
    </div>
    <div class="side-flex-container">
        <h2>
            Enlightenment of the day!
        </h2>
        <p>
            <strong> Embrace Progress, Not Perfection</strong>: When it comes to self-improvement, it's essential to shift your focus from 
            striving for perfection to celebrating progress. Recognize that personal growth is a journey, not a destination. Instead of fixating 
            on every flaw or setback, acknowledge the small steps you take towards positive change. Each tiny improvement, no matter how seemingly
            insignificant, is a victory worth celebrating. Embrace the process of learning and evolving, and remember that self-improvement is 
            about becoming a better version of yourself, not about attaining perfection.
        </p>
    </div>
</main>

<%- include("partials/footer"); -%>