<%- include("partials/header"); -%>

<main class="news-grid-container">
    <%  articles.forEach(function(article){ %>
    <div class="news-flex-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="50px" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
          </svg>
            <h5><%=article.title%></h5>
            <p>
            <%=article.content.substring(0, 100) + " ..."%>
            <a href="/articles/<%=article._id%>">Read More</a>
            </p>    
    </div>
    <% }) %>
</main>
<%- include("partials/footer"); -%>